/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2015, 12:17:22 AM
    Author     : ArunaMaya
*/




.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    
}

.root{
    //-fx-font-size: 14; 
    //-fx-font-family: "Comic Sans MS";
    -fx-font-color: white;
}

/* Menu CSS */
.menu-bar { -fx-background-color: #515a63; 
           -fx-font-color: white; 
           -fx-text-fill: white; 
}

.menu-bar .label{
           -fx-font-color: white; 
           -fx-text-fill: white; }

.menu:hover {
    -fx-background-color: #74AFAD;
}
.menu:focused { -fx-background-color: #74AFAD; }
.menu:showing { -fx-background-color: #74AFAD; }
.menu:focused .label { -fx-text-fill: white; -fx-font-color: white; }
.menu:showing .label { -fx-text-fill: white; -fx-font-color: white; }


.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: #74AFAD;
}

.menu-item:focused .label {
    -fx-text-fill: black;
}

.context-menu {
    -fx-background-color: #515a63;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */    
}

/* Tool bar */

.tool-bar {
    -fx-background-color: #74AFAD;
}

.tool-bar .spacer {
    -fx-padding: 0 5.417em 0 0;
}

/* Left Slider Box */

.leftSliderBox {
    -fx-background-color: #cccc9a;
    -fx-padding: 5px;
        
}

/* Left Slider Box */

.leftSliderBox .label {
         
}

.button{
    -fx-background-color: #74AFAD;
}